---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';
import twiceLogo from '../assets/twiceLogo.png'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home" activePage="home">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	
	<div id="container">
		<main>
			<section>
				<img id="twiceLogo" src={twiceLogo.src} alt="" fetchpriority="high" />
				<h1>All About Twice</h1>
				<h2>One of the best Kpop girl groups</h2>
			</section>
		</main>
	</div>
</Layout>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#twiceLogo {
		width: 180px;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}

	h1 {
		font-size: 50px;
		margin-top: 0.25em;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 30px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
