---
import background from '../assets/background.svg';
import twiceGroup from '../assets/twiceGroup.jpg'
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section>
            <img id="twiceGroup" src={twiceGroup.src} alt="" fetchpriority="high" />
            <section>
                <h1>All About Twice</h1>
                <p>One of the best Kpop girl groups</p>
            </section>
			<section>
                <h2>Background</h2>
                <p>TWICE (트와이스) is a nine-member girl group under JYP Entertainment. The group debuted in 2015 and has since become one of the best-selling K-pop girl groups of all time. From chart-hitting music releases to high achievements, TWICE has cemented their spot as top global performers, and this momentum is not slowing down.</p>
            </section>
            <section>
                <h2>Members</h2>
                <p>The group consists of Jihyo, Nayeon, Jeongyeon, Momo, Sana, Mina, Dahyun, Chaeyoung, and Tzuyu.</p>
                <ul>
                    <li>Nayeon (나연) – vocalist, dancer</li>
                    <li>Jeongyeon (정연) – vocalist</li>
                    <li>Momo (모모) – dancer, vocalist, rapper</li>
                    <li>Sana (사나) – vocalist</li>
                    <li>Jihyo (지효) – leader, vocalist</li>
                    <li>Mina (미나) – dancer, vocalist</li>
                    <li>Dahyun (다현) – rapper, vocalist</li>
                    <li>Chaeyoung (채영) – rapper, vocalist</li>
                    <li>Tzuyu (쯔위) – dancer, vocalist</li>
                </ul>
            </section>
            <section>
                <h2>Achievements</h2>
                <p>Since their debut they have received several awards and nominations including seven Circle Chart Music Awards, twelve Golden Disc Awards, twenty MAMA Awards, five Melon Music Awards and seven Seoul Music Awards, as well as three MTV Europe Music Awards nominations and two MTV Video Music Awards nominations.</p>
                <p></p>
            </section>
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

    #twiceGroup {
        width: 400px;
        margin: auto;
    }

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
        width: 100%;
        margin: auto;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

    h2 {
        text-decoration: underline;
    }

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
